<h1 class="tealtext">Login to Star Citizen Hangers!</h1>
<form method="post" action="/login">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="password" placeholder="Password">

  <input class="btn btn-primary" type="submit" value="Submit">
</form>
