<div class="container col-xs-4 col-xs-offset-4">
  <h1 class="tealtext">Login to Star Citizen Hangers</h1>
    <form class="" method="post" action="/login">
      <div class="col-xs-4 col-xs-offset-4">
        <label class="tealtext" for="username">Username: </label>
        <input class="" type="text" name="username" id="username"><br>
        <label class="tealtext" for="password">Password: </label>
        <input class="" type="password" name="password" id="password">
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <input class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>
</div>
