<h1 class="tealtext">Login to Star Citizen Hangers</h1>
<form method="post" action="/login">
  <label class="tealtext" for="username">Username: </label>
  <input type="text" name="username" id="username"><br>
  <label class="tealtext" for="password">Password: </label>
  <input type="password" name="password" id="password">
  <input class="btn btn-primary" type="submit" value="Submit">
</form>
