body {
  background: url(/carrier-bridge.jpg); /* lower case img src for heroku */
  padding-top: 120px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul.nav a:hover {
  color: rgb(125, 235, 193);
  /*background-color: rgba(203, 130, 86, 0.40);*/
  background-color: rgba(26, 57, 86, 0.8);
  !important;
}

a {
transition: background-color .3s ease-in-out;
-moz-transition: background-color .3s ease-in-out;
-webkit-transition: background-color .3s ease-in-out;
}

.blackbg {
  background-color: rgba(0, 0, 0, 0.8);
}

.profile {
  background-color: rgba(0, 0, 0, 0.8);
}

.citizen-card {
  width: 60%;
  height: 20%;
  margin-bottom: 30px;
}

.top-header {
   border-bottom: 2px solid;
}

.list-group a:hover {
  color: black;
  /*background-color: rgba(125, 235, 193, 0.75)*/
  background-color: rgba(26, 57, 86, 0.8);
}

.ship-text {
  color: rgba(203, 130, 86, 1);
}

.ship-title {
  color: white;
}

.list-group-item {
  background-color: rgba(0,0,0,0.80);
  width: 80%;
}

.col-center {
  margin: 0 auto;
}

#login {
  background-color: rgba(0,0,0,0.45);
}

.logout {
  color: rgba(195, 24, 37, 0.40);
}

.navbar{
  background-color: rgba(0,0,0,0.70);
  position: fixed;
  top: 0;
  height: 82px;
  width: 100%;
  z-index: 2000;
}

.tealtext {
  color: rgb(125, 235, 193);
}

.whitetext {
  color: white;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background: rgba(0,0,0,0.5);
}
