body {
  background: url(/carrier-bridge.jpg)
}

.tealtext {
  color: rgb(125, 235, 193);
}

.jumbotron {
    opacity:0.8 !important;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}
