<div class="container">
  <div class="container vertical-center">
    <div class="col-md-9 container">
      <h2 class="tealtext top-header">List a New Ship</h2>
      <div class="thumbnail blackbg">
        <form class="whitetext" action="/ships" method="post">
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon">Model:</i></span>
            <input class="form-control" type="text" name='model' placeholder="What shall we call the ship?"/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon">Manufacturer:</i></span>
            <input class="form-control" type="text" name='manufacturer' placeholder="Who makes this ship?"/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon">Description:</i></span>
            <input class="form-control" type="text" name='description' placeholder="Provide a short summary."/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon">Role:</i></span>
            <input class="form-control" type="text" name='manufacturer' placeholder="What is it used for?"/>
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon">Production_State:</i></span>
            <input class="form-control" type="text" name='manufacturer' placeholder="e.g 'Flight Ready', 'Hangar Ready', ..."/>
          </div>
          <div class="form-group">
            <button type="button submit" class="btn btn-primary btn-block">List this Ship</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
