
<div class="container">
  <div class="jumbotron">
    <h3>Welcome to Star Citizen Hangers</h3>
    <p>Fill your very own hanger with ships straight from the Star Citizen Universe!  Click the buttons above to Sign Up or Log in!</p>
  </div>
  <a class="btn btn-primary" href="/ships">Jump to list of ships</a>
</div>
