
<div class="container">
  <div class="jumbotron">
    <h3 class="tealtext">Welcome to Star Citizen Hangers</h3>
    <p class="whitetext">Fill your very own hanger with ships straight from the Star Citizen Universe!  Use the navigation bar (above) to visit your Hangar or browse the currently available ships!</p>
  </div>
</div>
<% if !logged_in? %>
<div class="text-center"><a class="btn btn-primary btn-lg" href="/signup">Become a Citizen</a></div>
<% end %>
