<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Star Citizen Hangers</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
  <body class="index">

      <nav class="navbar navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/star_citizen_logo.png" height="100"></a>
          </div>
        <% if logged_in? %>
          <ul class="nav navbar-nav">
            <li><a class="" href="/citizens/<%= current_citizen.slug %>" role="button"> Your Hanger </a></li>
            <li><a class="" href="/ships" role="button"> Browse Ships </a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="tealtext">Welcome, <a class="navbar-link tealtext text-left" href="/citizens/<%=current_citizen.slug%>">Citizen <%=current_citizen.username.capitalize%></a> </p></li>
            <li><a href="/logout" role="button"> Log Out </a></li>

          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="tealtext" href="/signup"><span class="glyphicon glyphicon-user tealtext"></span> Sign Up</a></li>
            <li><a class="tealtext" href="/login"><span class="glyphicon glyphicon-log-in tealtext"></span> Login   </a></li>
          </ul>
        <% end %>
        </div>
      </nav>

    <div id="wrap">
      <div class="container-fluid">

        <%= yield %>

      </div>
    </div>

    <footer>
        <div class="container" id="footer">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright tealtext">Copyright &copy; Luke Kisabeth 2017</span>
                </div>
            </div>
        </div>

    </footer>

  </body>
</html>
